<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Request received!</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      .header {
        background-color: #f2f2f2;
        padding: 20px;
        text-align: center;
      }
      .content {
        background-color: #ffffff;
        padding: 20px;
      }
      .footer {
        background-color: #f2f2f2;
        padding: 20px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h2>Welcome to The Waitlist!</h2>
      </div>
      <div class="content">
        <p>
          Hello {{name}}
        </p>
        <p>
          Woohoo! You have successfully signed up to be notified when the next application window opens on September 1st.
        </p>
        <p>
          Please be on the lookout for the email, until then stay safe and keep chasing those goals.
        </p>
        <p>
          We're rooting for you!
        </p>
        <p>&nbsp;</p>
        <p>
          In Your Service,
        </p>
        <p>
          The Edustipend Team
        </p>

        <a href="https://www.edustipend.org">https://www.edustipend.org</a>
        <p>
          <a href="https://www.facebook.com/edustipend">Facebook</a>
          |
          <a href="https://www.linkedin.com/company/edustipend">Linkedin</a>
          |
          <a href="https://www.twitter.com/edustipend">Twitter</a>
        </p>

      </div>
      {{!-- <div class="footer">
        <p>
          This is an automated message. Please do not reply to this email.
        </p>
      </div> --}}
    </div>
  </body>
</html>
